.icon{
    position: absolute;
    z-index: 100;
    width: 25px;
    height: 25px;
}

.input-group-text{
    width: 40px !important;
    background-color: #EDEDED;
    border: transparent;
    border-radius: 20px;
    
}
.input-group{
    width: 310px !important;
    height: 50px !important;
    background-color: #EDEDED !important;
    border: transparent !important;
    border-radius: 20px !important;
}
.input{
    width: 200px !important;
    background-color: #EDEDED !important;
    border: transparent !important;
    border-radius: 20px !important;
}